.THIS .buttonDesign {
	background-color: white; 
    color: blue; 
    border: 2px solid #008CBA;
    margin-left: 130px !important;
}
.THIS .alert-success{
	background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    margin : 10px;
}
.THIS .alert-info{
	background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
    margin : 10px;
}
.THIS .infor-text{
	margin-left: 10px;
}
.THIS .toggle {
   display: none;
 }
 .THIS .btnarrow {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    padding: 0 10px;
    color: #ffffff;
    background-color: Navy;
    position: relative;
    display: inline-block;
    border: 0;
}

.THIS .btnarrow:after {
   position: absolute;
    right: 73px;
    content: " ";
    width: 0px;
    height: 40px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 25px solid navy;
}