.THIS .setcolor{
    background-color:#00008B ;
    color:#ffffff
}
.THIS .setcoloricon{ 
    color:#00008B
}
.THIS .slds-icon-text-default{
        fill: #00008b;
}
.THIS .marginleft{
         margin-left: 5%;
}