.THIS .organce {
	background-color: orange;
	color: white;
}
.THIS .green {
	background-color: green;
	color: white;
} 
.THIS .select-width{ 
	width: 80%; 
} 

.THIS button{
	font-size: x-small;
}
.THIS .slds-has-dividers--top{
	margin-top: 2%;
}