.THIS.text {
    border-bottom: 2px solid;
}
.THIS th {
    background-color: Navy;
    color: white;
}
.THIS tr:hover { 
    background-color: LightSteelBlue;
}
.THIS li:before
{
    content: '✔';   
}

.THIS ul
{
   list-style: none;
}